opt/telegram-user-and-bot-cli
usr/bin/telegram_user_and_bot_cli
usr/share/telegram_user_and_bot_cli
usr/local/bin/telegram_user_and_bot_cli
usr/bin/telegram-user-and-bot-cli
usr/share/telegram-user-and-bot-cli
usr/local/bin/telegram-user-and-bot-cli