opt/edge-user-and-bot-app
usr/bin/edge_user_and_bot_app
usr/share/edge_user_and_bot_app
usr/local/bin/edge_user_and_bot_app
usr/bin/edge-user-and-bot-app
usr/share/edge-user-and-bot-app
usr/local/bin/edge-user-and-bot-app